//Border black
$border-black: rgba(0, 0, 0, 0.6);
$border-black-10: rgba(0, 0, 0, 0.16);
$border-black-20: rgba(0, 0, 0, 0.23);
$border-black-30: rgba(0, 0, 0, 0.15);
$border-black-40: rgba(0, 0, 0, 0.05);
$border-black-25: rgba(0, 0, 0, 0.25);
$border-black-85: rgba(0, 0, 0, 0.85);

// Text colors
$primary-87: #000000de; //87%//
$primary-85: #000000d8; //85%//
$primary-45: #00000073; //45%//

//miscellaneous
$golden-yellow: #fadb14;
$grey: #626262;
$green: #00e676;
$yellow: #f2bd03;
$red: #ed5564;
$dark-red: #ea2a2d;
$white: #ffffff;
$black: #000000d8;
$dark-black: #00000060;
$fade-black: #000000d9;
$blue: #2775ad;
$transparent: transparent;
$smoked_bg: #f0f2f5;
$vibrant-green: #00c853;
$dark-grey: #9c9c9c;
$mid-grey: #666666;
$steel-grey: #757575;
$light-grey: #d9d9d9;
$ash-grey: #828282;
$very-light-gray: #f9f7f7;
$lavender: #ac92eb;
$muted-bold-red: #ef5350;
$strong-red: #d32f2f;
$wild-red: #ff4081;
$brick-red: #df584e;
$sandal-yellow: #ffb300;
$bold-red: #df3734;
$coral-pink: #e26a61;
$forest-green: #349d38;
$emerald-green: #018106;
$muted-green: #4caf5033;
$muted-deep-green: #15751933;
$pale-green: #dbefdc;
$metal-black: #4f4f4f;
$jet-black: #212121;
$blue-nav: #0076bf;
$royal-blue: #303f9f;
$med-slate-blue: #4153af;
$slate-blue: #3f5165;
$indigo: #3f51b5;
$blush-pink: #ffebee;
$muted-pink: #ef535033;
$pale-yellow: #fff8e1;
$muted-silver: #bdbdbd26;
$muted-lilac: #c6cbe6b3;
$powder-blue: #c5cae9;
$silver-grey: #f1f1f1;
$ghost-white: #f5f7ff;
$lavender-gray: #c6cbe6bf;
$taupe-gray: #8e8e93;
$silver: #bdbdbd15;
$suva-gray: #8c8c8c;
$turquoise-blue: #62bbe820;
$cerulean: #03a9f4;
$orange-peel: #ff9800;
$white-lilac: #e9ebf7;
$sun: #faad14;
$sunset-orange: #ff4d4f;
$lima: #52c41a;
$pale-blue: #9ea7d9;
$hawkes-blue: #cce4f2;
$lemon-grass: #999999;
$wild-sand: #f5f5f5;
$gallery: #f0f0f0;
$silver-sand: #c4c4c4;
$argent: #bfbfbf;
$Eerie-black: #1c1c1e;
